.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    animation: infinite linear 120s App-logo-spin;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3vw;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* font-size: 2vh; */
  color: white;
}

.App-link {
  color: #61dafb;
}


.btn-fix-padding {
  padding-top: 5px ! important;
}

.main-body {
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding-top: 20px;
}